*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Fjalla One';
}
/* Responsive */
@media (max-width: 480px){
    .navbar .navbar__nav .container-fluid .navbar-brand{
        font-size: 20px;
    }
    .navbar .navbar__nav--list{
        display: none;
    }
    .navbar .container-fluid .offcanvas-header h5{
        font-size: 40px;
        color: black;
    }
    .navbar .navbar__nav .container-fluid button{
        margin-left: 30px;
    }
    .navbar .container-fluid .offcanvas-body ul li a{
        font-size: 30px;
        color: black;
    }
    .navbar .navbar__nav .container-fluid .offcanvas{
        background-color: #ffffffdb;
    }
    .navbar{
        margin-top: 0px;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .logo .logo--mobile{
        width: 150px;
        height: 150px;
        margin: 15px 0;
    }
    .header__subtitle{
        margin-top: 0px;
    }
    .main{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .main .section{
        display: flex;
        flex-direction: column;
    }
    .main .section__title{
        font-size: 25px;
    }
    .main .section__title--element h2{
        font-size: 35px;
        margin: 0 10px;
    }
    .main .section .section__title .section__title--text{
        font-size: 25px;
        margin: 0 10px;
    }
    .img-text{
        display: flex;
        padding: 0px 0px;
        margin-bottom: 10px;
        margin-left: 50px;
        width: 300px;
        margin-top: 20px;
    }
    .footer{
        margin-top: 20px;
    }
    /* Historia */
    .title__pag h2{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 35px;
        padding: 3px 0px;
    }
    .main2__section{
        margin: 0;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .main2__section .main2__section--title{
        margin: 0px 10px;
        font-size: 35px;
    }
    .main2__section .main2__section--text{
        margin: 0px 10px;
        font-size: 25px;
    }
    .section2--video{
        margin: 20px 0px;
        display: inline-block;
        display: flex;
        justify-content: center;
    }
    .section2--video iframe{
        width: 400px;
        height: 250px;
        margin: 0;
    }
    .section2 .section2__block{
        margin: 0px;
    }
    .section2 .section2__block .section2__block--title{
        margin: 0px 10px;
        font-size: 35px;
    }
    .section2 .section2__block .section2__block--text{
        margin: 0px 10px;
        font-size: 25px;
    }
    /* Actualidad */
    .main3{
        margin-top: 30px;
    }
    .main3 .main3__div2{
        display: flex;
        flex-direction: column;
    }
    .main3 .main3__div .main3__div--title{
        font-size: 35px;
    }
    .main3 .main3__div .main3__div--text{
        font-size: 25px;
    }
    .main3 .main3__div2 .main3__div2--title h2{
        font-size: 35px;
    }
    .main3 .main3__div2 .main3__div2--text p{
        font-size: 25px;
    }
    .imagen{
        margin-bottom: 20px;
        font-size: 25px;
    }
    .imagen img{
        margin-top: 10px;
        font-size: 25px;
    }
    .imagen2{
        margin-bottom: 20px;
        font-size: 25px;
    }
    /* Titulos y figuras */
    .title-page{
        margin-top: 30px;
    }
    .section__copas{
        display: grid;
    }
    .section__copas .section__copas--list{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        font-size: 25px;
        margin-left: 0;
        padding: 0;
    }
    .section__figuras{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .section__figuras ul{
        text-align: center;
    }
    /* Asociate */
    .form--title h2{
        font-size: 35px;
    }
    form{
        width: 100%;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    form div label{
        font-size: 30px;
    }
    form div input{
        height: 50px;
    }
    form div select{
        height: 50px;
    }
}    
@media (min-width:577px){
    .navbar .navbar__nav .container-fluid{
        display: none;
    }
    .logo--mobile{
        display: none;
    }
}
