*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Fjalla One';
}
/* Index*/
.header__title{
    background-color: rgba(255, 0, 0, 0.801);
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 25px;
    font-family: 'Fjalla One';
    text-shadow: #000000 1px 1px 1.5px ;
    box-shadow: 1px 1px 10px 1px black;
}
.header__title a{
    text-decoration: none;
    color: black;
    text-decoration-color: black;
}
.header__title a:hover{
    font-size: 38px;
}
.navbar{
    margin-top: 60px;
    background-color: rgba(255, 0, 0, 0.801);
    box-shadow: 1px 1px 10px 1px black;
}
.navbar .navbar__nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
.navbar .navbar__nav .navbar__nav--list .nav-item-logo img{
    width: 140px;
    height: 140px;
    margin-left: 100px;
    margin-top: -30px !important;
}
.navbar .navbar__nav .navbar__nav--list ul li a{
    font-size: 30px;
    color: black;
    text-shadow: #000000 1px 1px 1.5px ;
    margin-top: -10px !important;
}
.navbar .navbar__nav .navbar__nav--list ul li a:hover{
    font-size: 35px;
}
.navbar .navbar__nav .navbar__nav--list ul li{
    font-size: 35px;
    color: black;
    margin-right: 50px;
    text-shadow: #000000 1px 1px 1.5px ;
}
.header__subtitle{
    margin-top: 80px;
    text-align: center;
}
.img-fondo img{
    width: 100%;
    height: 100%;
    box-shadow: -5px 5px 20px 1px black;
}
.main{
    background-color: rgba(255, 0, 0, 0.801);
    display: flex;
    box-shadow: -5px 5px 20px 1px black;
    margin-top: 50px;
}
.main__title{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.main:hover{
    box-shadow: 0px 0px 20px 14px black;
}
.main__title .main__title--element{
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: #000000 1px 1px 3px ;
    display: inline-block;
    color: black;
}
.main__title .main__title--text{
    font-size: 20px;
    text-align: left;
    display: block;
    margin-bottom: 30px;
    margin-left: 50px;
    text-shadow: #000000 1px 0px 1px ;
    color: black;
}
.main__title .main__title--element:hover{
    font-size: 33px;
}
.main__title .main__title--text:hover{
    font-size: 21px;
}
.img-text{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    padding: 10px 20px;
}
.img-text img{
    border: 1px solid black;
    box-shadow: 0px 0px 20px 6px black;
}
.footer__nav ul li a img{
    width: 40px;
    height: 40px;
    margin: 5px 0px;
}
.footer__nav{
    margin-top: 30px;
}
.footer__nav--list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border: 1px solid gray;
}
.footer__nav .footer__nav--list li:hover{
    width: 41px;
    height: 41px;
}
#footer p{
    display: grid;
    text-align: center;
}
/* historia */
.title__pag{
    display: inline;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    text-shadow: #000000 1px 1px 3px ;
}
.title__pag h2{
    background-color: rgba(128, 128, 128, 0.541);
    box-shadow: -5px 5px 20px 1px black;
    color: black;
}
.main2__section:hover{
    box-shadow: 0px 0px 20px 14px black;
}
.main2__section{
    margin: 20px 50px;
    padding: 10px 5px;
    color: black;
    background-color: rgba(128, 128, 128, 0.541);
    box-shadow: -5px 5px 20px 1px black;
}
.main2 .main2__section--title{
    display: flex;
    justify-content: left;
    margin-left: 50px;
    font-size: 30px;
    text-shadow: #000000 1px 1px 3px ;
}
.main2__section--text{
    font-size: 20px;
    text-align: left;
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
}
article{
    display: flex;
}
article div{
    margin-left: 50px;
    padding-bottom: 10px 5px;
}
.section2--video{
    margin-top: 15px
}
.section2__block:hover{
    box-shadow: 0px 0px 20px 14px black;
}
article .section2__block{
    padding: 10px 5px;
    margin: 0px 50px;
    color: black;
    background-color: rgba(128, 128, 128, 0.541);
    box-shadow: -5px 5px 20px 1px black;
}
article .section2__block--title{
    font-size: 30px;
    margin-left: 50px;
    text-shadow: #000000 1px 1px 3px ;
}
.section2__block--text{
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
}
/* actualidad */
.main3__div{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.541);
    margin: 0 10px;
    padding: 10px;
    box-shadow: -5px 5px 20px 1px black;
}
.main3__div:hover{
    box-shadow: 0px 0px 20px 14px black;
}
.main3__div--title{
    text-align: center;
    font-size: 30px;
    text-shadow: #000000 1px 1px 3px ;
    color: black;
}
.main3__div--text{
    font-size: 20px;
    color: black;
}
.main3__div2{
    margin: 50px 10px;
    display: grid;
    background-color: rgba(128, 128, 128, 0.541);
    box-shadow: -5px 5px 20px 1px black;
}
.main3__div2:hover{
    box-shadow: 0px 0px 20px 14px black;
}
.main3__div2--title{
    grid-column: 1 / span 3;
    font-size: 30px;
    text-align: center;
    text-shadow: #000000 1px 1px 3px ;
}
.main3__div2--title h2{
    margin: 10px 0;
    color: black;
}
.main3__div2--text{
    color: black;
    padding: 0px;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 10px;
}
.image-1{
    width: 100%;
    height: 60%;
    margin-top: 150px;
    border: 2px solid black;
    box-shadow: 4px -5px 20px 1px black;
}
.image-2{
    height: 40%;
    width: 100%;
    border: 2px solid black;
    box-shadow: 4px -5px 20px 1px black;
    margin-top: 40px;
}
.imagen{
    grid-column: 3/ 4;
    margin: 10px 5px;
    text-align: center;
}
.imagen2{
    grid-column: 2/3; 
    grid-row: 2/3;
    text-align: center;
}
/* titulos y figuras */
.title--titulos{
    text-align: center;
    font-size: 30px;
    text-shadow: #000000 1px 1px 1px ;
    background-color: rgba(255, 0, 0, 0.747);
    box-shadow: -5px 5px 20px 1px black;
}
.section__copas{
    display: flex;
    justify-content: space-between;
}
.section__copas .section__copas--list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.section__copas--list li{
    list-style-type: none;
    text-align: center;
}
.section__copas--list li img{
    border: 1px solid black;
}
.section__copas .section__copas--list .intercontinental{
    margin-right: -10px !important;
}
.section__copas--list li img:hover{
    box-shadow: 0px 0px 10px 5px black;
}
.title--figuras{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0.747);
    text-shadow: #000000 1px 1px 1px ;
    box-shadow: -5px 5px 20px 1px black;
}
.section__figuras{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;
    text-align:justify;
    background-color: rgba(255, 0, 0, 0.747);
    margin: 25px 0px;
    text-decoration:underline;
    box-shadow: -5px 5px 20px 1px black;
}
.section__figuras ul li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 25px;
    padding:0px;
    margin-top: 10px;
}
.section__figuras ul li img{
    width: 20px;
    height: 20px;
}
.section__figuras ul li:hover{
    font-size: 30px;
}
/* Asociate */
.form--title{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.747);
    margin-bottom: 30px;
    text-shadow: #000000 1px 1px 1px ;
    box-shadow: -5px 5px 20px 1px black;
}
form{
    margin: 0;
}
.row{
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.747);
    box-shadow: -5px 5px 20px 1px black;
}
.cold-md-5 input{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
}
.form-email{
    margin-top: 10px;
}
.cold-md-3-date input{
    margin-top: 10px;
}
.cold-md-3-date label{
    margin-right: 40px;
}
.col-md-4{
    margin-right: 62px;
}
.col-md-4 input{
    width: 300px;
}
.col-md-5 input{
    width: 300px;
}
input{
    width: 100px;
    height: 40px;
    width: 500px;
}
form div input{
    width: 100px;
    height: 40px;
    width: 500px;
}
.row .form-email{
    margin-bottom: 5px;
    width: 500px;
    margin-top: 23px;
}
.row .col-md-7{
    margin-top: 15px;
    width: 300px;
}
.row .col-md-3{
    margin-top: 12px;
}
.row .cold-md-3-date{
    margin: 10px 0px;
}
.row .cold-md-3-date input{
    width: 100px;
}
.row .col-md-6{
    width: 300px;
    margin-top: 15px;
}
.row .form-check{
    margin: 10px 0px;
}
/* Responsive */
@media (max-width: 480px){
    .header__title{
        display: none;
    }
    .navbar .navbar__nav .container-fluid .navbar-brand{
        font-size: 25px;
    }
    .navbar .navbar__nav--list{
        display: none;
    }
    .navbar .container-fluid .offcanvas-header h5{
        font-size: 40px;
        color: black;
    }
    .navbar .navbar__nav .container-fluid button{
        margin-left: 30px;
    }
    .navbar .container-fluid .offcanvas-body ul li a{
        font-size: 30px;
        color: black;
    }
    .navbar .navbar__nav .container-fluid .offcanvas{
        background-color: #ffffffdb;
    }
    .navbar{
        margin-top: 0px;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .logo .logo--mobile{
        width: 150px;
        height: 150px;
        margin: 15px 0;
    }
    .header__subtitle{
        margin-top: 0px;
    }
    .main{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        background-color: rgba(255, 0, 0, 0.801);
    }
    .main__title{
        font-size: 25px;
        margin: 10px 20px;
    }
    .main__title--element h2{
        font-size: 35px;
    }
    .main .main__title .main__title--text{
        font-size: 25px;
    }
    .img-text{
        display: flex;
        margin-top: 0px;
        padding: 0px 0px;
        margin-bottom: 10px;
        margin-left: 80px;
        width: 300px;
    }
    .footer{
        margin-top: 20px;
    }
    /* Historia */
    .title__pag h2{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 35px;
        padding: 3px 0px;
    }
    .main2__section{
        margin: 0;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .main2__section .main2__section--title{
        margin: 0px 10px;
        font-size: 35px;
    }
    .main2__section .main2__section--text{
        margin: 0px 10px;
        font-size: 25px;
    }
    .section2--video{
        margin: 20px 0px;
        display: inline-block;
        display: flex;
        justify-content: center;
    }
    .section2--video iframe{
        width: 400px;
        height: 250px;
        margin: 0;
    }
    .section2 .section2__block{
        margin: 0px;
    }
    .section2 .section2__block .section2__block--title{
        margin: 0px 10px;
        font-size: 35px;
    }
    .section2 .section2__block .section2__block--text{
        margin: 0px 10px;
        font-size: 25px;
    }
    /* Actualidad */
    .main3{
        margin-top: 30px;
    }
    .main3 .main3__div2{
        display: flex;
        flex-direction: column;
    }
    .main3 .main3__div .main3__div--title{
        font-size: 35px;
    }
    .main3 .main3__div .main3__div--text{
        font-size: 25px;
    }
    .main3 .main3__div2 .main3__div2--title h2{
        font-size: 35px;
    }
    .main3 .main3__div2 .main3__div2--text p{
        font-size: 25px;
    }
    .imagen{
        margin-bottom: 20px;
        font-size: 25px;
    }
    .imagen img{
        margin-top: 10px;
        font-size: 25px;
    }
    .imagen2{
        margin-bottom: 20px;
        font-size: 25px;
    }
    /* Titulos y figuras */
    .title-page{
        margin-top: 30px;
    }
    .section__copas{
        display: grid;
    }
    .section__copas .section__copas--list{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        font-size: 25px;
    }
    .section__figuras{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .section__figuras ul{
        text-align: center;
    }
    /* Asociate */
    .form--title h2{
        font-size: 35px;
    }
    form{
        width: 100%;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    form div label{
        font-size: 30px;
    }
    form div input{
        height: 50px;
    }
    form div select{
        height: 50px;
    }
}
@media (min-width:577px){
    .navbar .navbar__nav .container-fluid{
        display: none;
    }
    .logo--mobile{
        display: none;
    }
}
