/* encabezado */
.encabezado{
    .header{
        background-color: $maincolor;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        font-family: 'Fjalla One';
        text-shadow: $textshadow;
        box-shadow: 1px 1px 10px 1px black;
        margin-top: 10px;
        margin-bottom: 60px;
        .header--title{
            text-decoration: none;
            color: $txtcolor;
            text-decoration-color: $txtcolor;
            transition: all 0s;
            &:hover{
                font-size: 2.1rem;
            }
        }
    }
    .navbar{
        background-color: $maincolor;
        box-shadow: 1px 1px 10px 1px black;
        font-family: 'Fjalla One';  
        .navbar__nav{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            height: 40px;
            .navbar__nav--list .nav-item-logo img{
                width: 140px;
                height: 140px;
                margin-left: 100px;
                margin-top: -40px !important;
            }
            .navbar__nav--list ul li{
                font-size: 2rem;
                color: $txtcolor;
                margin-right: 50px;
                a{
                    font-size: 2rem;
                    color: $txtcolor;
                    margin-top: -10px !important;
                    transition: all 80ms;
                    &:hover{
                        text-shadow: #000000 1px 1px 1.5px ;
                    }
                }
            }
    
        }
    }
    .header__subtitle{
        margin-top: 80px;
        text-align: center;
    }
}