@mixin text {
    font-size: 1em;
    text-shadow: $textshadow-text;
    color: $txtcolor;
}
@mixin title {
    font-size: 2em;
    text-shadow: $textshadow;
    color: $txtcolor;
}
@mixin image{
    border: 2px solid black;
    box-shadow: 4px -5px 20px 1px black;
}