/* mobile */
@media (max-width:480px){
    .encabezado{
        .header{
            display: none;
        }
        .navbar{
            top: 0;
            width: 100%;
            background-color: $maincolor;
            .navbar__nav--list{
                display: none;
            }
            .container-fluid{
                .navbar-brand{
                    font-size: 1.3em;
                }
                button{
                    margin-left: 30px;
                }
                .offcanvas-body{
                    ul{
                        li{
                            a{
                                font-size: 30px;
                                color: $txtcolor;
                            }
                        }
                    }
                }
                .offcanvas{
                    background-color: #ffffffdb;  
                }
            }
        }
        .logo{
            display: flex;
            justify-content: center;
            margin-top: 3vh;
            .logo--mobile{
                width: 100%;
                height: 18vh;
                margin: 15px 0; 
            }
        }
        .header__subtitle{
            margin-top: 0px;
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        .img-fondo{
            img{
                width: 100%;
            }
        }
        .section{
            display: flex;
            flex-direction: column;
        }
        .section__title{
            .section__title--element{
                h2{
                    font-size: 2em;
                    margin: 0 10px;
                }
            }
            .section__title--text{
                font-size: 1em;
                margin: 0 10px;
            }
        }
        .img-text{
            width: 100%;
            img{
                display: flex;
                padding: 0px 0px;
                margin-bottom: 1vh;
                margin-left: 10vw;
                width: 300px;
            }
        }
        .section2{
            .list{
               .list__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                    li{
                        margin: 10px 0;
                        a{
                            font-size: 1.5em;
                        }
                        iframe{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }

            }
        }
    }
    .footer{
        margin-top: 20px;
    }
    .main2{
        .title__pag{
            h2{
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 35px;
            padding: 3px 0px;
            }   
        }
        .main2__section{
            margin:0;
            .main2__section--title{
                margin: 0px 10px;
                font-size: 35px;    
            }  
            .main2__section--text{
                margin: 0px 10px;
                font-size: 25px;    
            }
        }
        .section2{
            display: flex;
            flex-direction: column;
            .section2--video{
                margin: 20px 0px;
                display: inline-block;
                display: flex;
                justify-content: center;
                iframe{
                    width: 400px;
                    height: 250px;
                    margin: 0;    
                }
            }
            .section2__block{
                margin: 0px;
                .section2__block--title{
                    margin: 0px 10px;
                    font-size: 35px;    
                }
                .section2__block--text{
                    margin: 0px 10px;
                    font-size: 25px;     
                }
            }
        }
    }
    .main3{
        margin-top: 30px;
            .main3__div{
                margin: 0;
                .main3__div--title{
                    font-size: 35px;    
                }
                .main3__div--text{
                    font-size: 25px;    
                }
            }
            .main3__div2{
                margin: 50px 0px;
                display: flex;
                flex-direction: column;
                .main3__div2--title{
                    h2{
                        font-size: 35px;    
                    }
                }
                .main3__div2--text{
                    p{
                        font-size: 25px;    
                    }
                }
        }
        .imagen{
            font-size: 25px;
            margin: 0;
            .image-1{
                font-size: 25px; 
                margin: 0;   
            }   
        }
        .imagen2{
            margin-bottom: 20px;
            font-size: 25px;    
        }
    }
    .main__pagetyf{
        .section__copas{
            display: grid;
            .title-page{
                margin-top: 30px;    
            }
            .section__copas--list{
                display: grid;
                text-align: left;
                grid-template-columns: auto auto;
                font-size: 25px;
                margin-left: 0;
                padding: 0;    
            }
            .section__figuras{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                ul{
                    text-align: center;    
                }    
            }
        }
    }
    .formulario{
        .form--title{
            h2{
                font-size: 2em;    
            }
        }
        form{
            .col-md-5{
                margin-top: 10px;
            }
            div{
                label{
                    font-size: 30px;    
                }
                input{
                    height: 50px;    
                }
                select{
                    height: 50px;    
                }
            }
        }
        .form-check{
            display: flex;
            flex-direction: row;
            input{
                width: 80px;
                margin-right: 30px;
            }
        }
    }
}

@media (min-width:577px){
.encabezado{
    .navbar{
        .navbar__nav{
            .container-fluid{
                display: none;
            }
        }
    }
    .logo--mobile{
        display: none;
    }
}
}