/* variables */
$maincolor: rgba(255, 0, 0, 0.801);
$secondarycolor: rgba(128, 128, 128, 0.541);
$txtcolor: black;
$border: 1px solid black;
$boxshadow:box-shadow;
$textshadow: black 1px 1px 1.5px;





$mobile: 576px;
$tablet: 768px;
$desktop: 992px;